---
title: Tutorials and thoughts on the world of programming and web development
pageable: true
change_frequency: weekly
ogp:
  og:
    description: "My name is Mitch Stanley and I'm a programmer from the UK.  I write Articles dedicated to front and back end development."
---
<h1>FullStack Stanley</h1>
<%= partial "partials/about" %>
<h1>Article Archive</h1>
<% last_date = false %>
<div class="article-archive">
  <% page_articles.each do |article| %>
    <% if !last_date || last_date != article.date.strftime('%b %Y') %>
      <h2><%= article.date.strftime('%b %Y') %></h2>
    <% end %>
    <article class="blurb">
      <h3>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3>
      <div class="tags">
        <% article.tags.each do |tag| %>
          <a href="<%= tag_path tag %>"><%= tag %></a>
        <% end %>
      </div>
    </article>
    <% last_date = article.date.strftime('%b %Y') %>
  <% end %>
</div>

<div class="pagination">
	<ul>
		<% if prev_page %>
			<li class="page-prev"><%= link_to 'Previous Page', prev_page.url %></li>
		<% end %>
		<% if next_page %>
			<li class="page-next"><%= link_to 'Next Page', next_page.url %></li>
		<% end %>
	</ul>
</div>
